<p>
  <strong><%= t(".bottom") %>:</strong>
  <%= wagon.bottom_places %>
</p>

<p>
  <strong><%= t(".upper") %>:</strong>
  <%= wagon.upper_places %>
</p>

<p>
  <strong><%= t(".side_bottom") %>:</strong>
  <%= wagon.side_bottom_places %>
</p>

<p>
  <strong><%= t(".side_upper") %>:</strong>
  <%= wagon.side_upper_places %>
</p>
