<div class="col">
  <h1><%= t(".index_header") %></h1>

  <% if @routes.any? %>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center"><%= t(".title") %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%= render @routes %>
      </tbody>
    </table>

  <% else %>

    <p><%= t(".no_routes") %></p>

  <% end %>

  <%= link_to t(".new_route"), new_admin_route_path, class: "btn btn-primary" %>
</div>
