<h1>New railway station on route <%= @route.title %></h1>

<%= form_with scope: :station, url: [:add_station, :admin, @route], local: true do |form| %>
  <div class="field">
    <%= form.label :railway_station_id %>
    <%= form.collection_select :railway_station_id, @stations, :id, :title,
      prompt: "Select station" %>
  </div>

  <div class="field">
    <%= form.label      :arrival_time %>
    <%= form.time_field :arrival_time %>
  </div>

  <div class="field">
    <%= form.label      :departure_time %>
    <%= form.time_field :departure_time %>
  </div>

  <div class="field">
    <%= form.label        :position %>
    <%= form.number_field :position %>
  </div>

  <div class="actions">
    <%= submit_tag "Create" %>
  </div>
<% end %>

<%= link_to 'Back', [:admin, @route] %>
