<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Stations:</strong>

  <% if @route.railway_stations.any? %>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Arrival</th>
          <th>Departure</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.route_ordered.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <td><%= station.arrival_time_in(@route) %></td>
            <td><%= station.departure_time_in(@route) %></td>
            <td>
              <%= form_tag [:update_position, :admin, station], method: :patch do %>
                <%= number_field_tag :position, station.position_in(@route) %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag "Update" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


  <% else %>

    No stations were added to this route

  <% end %>
</p>

<p>
  <%= link_to "Add station", new_station_admin_route_path(@route) %>
</p>

<p>
  <strong>Trains on this route:</strong>

  <% if @route.trains.any? %>

    <ul>
      <% @route.trains.each do |train| %>
        <li><%= link_to "№#{train.number}", [:admin, train] %></li>
      <% end %>
    </ul>

  <% else %>

    No trains were assigned to this route

  <% end %>
</p>

<%= link_to 'Edit', [:edit, :admin, @route] %> |
<%= link_to 'Back', admin_routes_path %>
