<p>
  <strong><%= t(".title") %>:</strong>
  <%= @route.title %>
</p>

<p>
  <strong><%= t(".stations") %>:</strong>
</p>

  <%= render("common/errors", resource: @railway_station) if @railway_station %>

  <% if @route.railway_stations.any? %>

    <table>
      <thead>
        <tr>
          <th><%= t(".title")     %></th>
          <th><%= t(".arrival")   %></th>
          <th><%= t(".departure") %></th>
          <th><%= t(".position")  %></th>
        </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.route_ordered.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <td><%= station.arrival_time_in(@route) %></td>
            <td><%= station.departure_time_in(@route) %></td>
            <td>
              <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
                <%= number_field_tag :position, station.position_in(@route) %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag t(".update") %>
                <%= link_to t("destroy"), delete_station_admin_route_path(@route, station),
                                          method: :delete %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


  <% else %>

    <p>
      <%= t(".no_stations") %>
    </p>

  <% end %>

<p>
  <%= link_to t(".new_station"), new_station_admin_route_path(@route) %>
</p>

<p>
  <strong><%= t(".trains") %>:</strong>

  <% if @route.trains.any? %>

    <ul>
      <% @route.trains.each do |train| %>
        <li><%= link_to "№#{train.number}", admin_train_path(train) %></li>
      <% end %>
    </ul>

  <% else %>

    <%= t(".no_trains") %>

  <% end %>
</p>

<%= link_to t("edit"), edit_admin_route_path(@route) %> |
<%= link_to t("back"), admin_routes_path %>
