<%= form_for train do |form| %>
  <%= render "common/errors", resource: train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :route_id %>
    <%= form.collection_select :route_id, Route.all, :id, :title, prompt: "Select route" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
