<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    Not assigned
  <% end %>
</p>

<p>
  <strong>Wagons:</strong>
</p>

<p>
  <% if @train.wagons.empty? %>
    This train has no wagons added
  <% else %>
    <ul>
      <% @train.sorted_wagons.each do |wagon| %>
        <li><%= link_to "№ #{wagon.ordinal}", wagon_path(wagon) %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
