<tr>
  <td class="align-middle">№<%= ticket.train.number %></td>
  <td class="text-center align-middle"><%= ticket.passenger %></td>
  <td class="text-center align-middle"><%= ticket.base_station.title %></td>
  <td class="text-center align-middle"><%= ticket.final_station.title %></td>
  <td class="text-center align-middle"><%= ticket.departure_time %></td>
  <td class="text-center align-middle"><%= ticket.arrival_time %></td>
  <td class="text-center">
    <div class="btn-group">
      <%= link_to 'Show',    ticket, class: "btn btn-secondary" %>
      <%= link_to 'Destroy', ticket, method: :delete,
                                     data: { confirm: 'Are you sure?' },
                                     class: "btn btn-secondary" %>
    </div>
  </td>
</tr>
