<tr>
  <td>№<%= ticket.train.number %></td>
  <td><%= ticket.passenger %></td>
  <td><%= ticket.base_station.title %></td>
  <td><%= ticket.final_station.title %></td>
  <td><%= ticket.departure_time %></td>
  <td><%= ticket.arrival_time %></td>
  <td>
    <div class="btn-group">
      <%= link_to t("show"),    ticket, class: "btn btn-secondary" %>
      <%= link_to t("destroy"), ticket, method: :delete,
                                         data: { confirm: t(".confirm") },
                                         class: "btn btn-secondary" %>
    </div>
  </td>
</tr>
