<h1><%= t(".index_header") %></h1>

<% if @tickets.any? %>

  <table class="table table-striped table-hover table-center-cell">
    <thead>
      <tr>
        <th><%= t(".train") %></th>
        <th><%= t(".passenger") %></th>
        <th><%= t(".base_station") %></th>
        <th><%= t(".final_station") %></th>
        <th><%= t(".departure") %></th>
        <th><%= t(".arrival") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @tickets %>
    </tbody>
  </table>

<% else %>

  <p class="no-items"><%= t(".no_tickets") %></p>

<% end %>
