<h1>New Ticket</h1>

<%= form_for @ticket do |form| %>
  <%= render "common/errors", resource: @ticket %>

  <%= form.hidden_field :train_id %>
  <%= form.hidden_field :base_station_id %>
  <%= form.hidden_field :final_station_id %>

  <div class="field">
    <%= form.label :pasenger %>
    <%= form.text_field :passenger %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', search_path(base_id:  @ticket.base_station_id,
                                final_id: @ticket.final_station_id) %>
