<h1><%= t(".show_header", train: @ticket.train.number) %></h1>

<p>
  <strong><%= t(".passenger") %></strong>
  <%= @ticket.passenger %>
</p>

<p>
  <strong><%= t(".from") %>:</strong>
  <%= @ticket.base_station.title %>
</p>

<p>
  <strong><%= t(".to") %>:</strong>
  <%= @ticket.final_station.title %>
</p>

<p>
  <strong><%= t(".departure") %>:</strong>
  <%= @ticket.departure_time %>
</p>

<p>
  <strong><%= t(".arrival") %>:</strong>
  <%= @ticket.arrival_time %>
</p>

<%= link_to 'Back', tickets_path %>
