<tr>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.passenger %></td>
  <td><%= ticket.base_station.title %></td>
  <td><%= ticket.final_station.title %></td>
  <td><%= ticket.departure_time %></td>
  <td><%= ticket.arrival_time %></td>
  <td><%= link_to 'Show',    admin_ticket_path(ticket) %></td>
  <td><%= link_to 'Edit',    edit_admin_ticket_path(ticket) %></td>
  <td><%= link_to 'Destroy', admin_ticket_path(ticket), method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
</tr>
