<h1>Search tickets</h1>

<%= form_with url: search_path, method: :get, local: true do |form| %>
    <div class="field">
      <%= form.label :base_id, "Base station" %>
      <%= form.collection_select :base_id, RailwayStation.all, :id, :title,
        prompt: "Select base station" %>
    </div>

    <div class="field">
      <%= form.label :final_id, "Final station" %>
      <%= form.collection_select :final_id, RailwayStation.all, :id, :title,
        prompt: "Select final station" %>
    </div>

    <div class="actions">
      <%= form.submit "Search" %>
    </div>
<% end %>

<h2>Trains on this route:</h2>

<% if @search_results&.any? %>

  <table>
    <thead>
      <tr>
        <th>Train</th>
        <th>Departure</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% @search_results.each do |result| %>
        <tr>
          <td>№ <%= result[:train].number %></td>
          <td><%= result[:base_station].departure_time_in(result[:route]) %></td>
          <td><%= result[:final_station].arrival_time_in(result[:route])%></td>
          <td>
            <% if user_signed_in? %>
              <%= link_to "Buy ticket",
                new_ticket_path(ticket: {
                                          train_id:         result[:train].id,
                                          base_station_id:  result[:base_station].id,
                                          final_station_id: result[:final_station].id,
                                        }) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <p>No trains were assigned to this route</p>

<% end %>
