<%= form_for wagon do |form| %>
  <%= render "common/errors", resource: wagon %>

  <div class="field">
    <%= form.label :train_id %>
    <%= form.collection_select :train_id, Train.all, :id, :number, prompt: "Select train" %>
  </div>

  <div class="field">
    <%= form.label  :wagon_type, "Type of the wagon" %>
    <%= form.select :wagon_type, Wagon::VALID_TYPES, prompt: "Select type" %>
  </div>

  <div class="field">
    <%= form.label :bottom_places %>
    <%= form.number_field :bottom_places %>
  </div>

  <div class="field">
    <%= form.label :upper_places %>
    <%= form.number_field :upper_places %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
