<h1>Editing Wagon</h1>

<%= form_for @wagon do |form| %>
  <%= render "common/errors", resource: @wagon %>
  <%= render "fields", wagon: @wagon %>
<% end %>

<%= link_to 'Show', @wagon %> |
<%= link_to 'Back', @wagon.train %>
