<p id="notice"><%= notice %></p>

<p>
  <strong>Train:</strong>
  <%= @wagon.train.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @wagon.wagon_type %>
</p>

<p>
  <strong>Bottom places:</strong>
  <%= @wagon.bottom_places %>
</p>

<p>
  <strong>Upper places:</strong>
  <%= @wagon.upper_places %>
</p>

<%= link_to 'Edit', edit_wagon_path(@wagon) %> |
<%= link_to 'Back', wagons_path %>
