<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Route stations:</strong>
</p>

<p>
  <% if @route.railway_stations.any? %>

    <ul>
      <% @route.railway_stations.route_order.each do |station| %>
        <li><%= station.title %></li>
      <% end %>
    </ul>

  <% else %>

    No stations were added to this route

  <% end %>
</p>

<p>
  <strong>Trains on this route:</strong>
</p>

<p>
  <% if @route.trains.any? %>

    <ul>
      <% @route.trains.each do |train| %>
        <li>№ <%= train.number %></li>
      <% end %>
    </ul>

  <% else %>

    No trains were assigned to this route

  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
