<tr>
  <td class="cell-17">
    <div id="train_title_<%= train.id %>">
      <%= train.number %>
    </div>
    <%= render "form_inline", train: train, hidden: true %>
  </td>
  <td class="cell-45"></td>
  <td>
    <div class="btn-group">
      <%= link_to t("show"),    admin_train_path(train),
                                class: "btn btn-secondary" %>
      <%= link_to t("edit"),    "", data: { train_id: train.id },
                                class: "btn btn-secondary edit_train" %>
      <%= link_to t("destroy"), admin_train_path(train),
                                method: :delete,
                                data: { confirm: t("confirm") },
                                class: "btn btn-secondary" %>
    </div>
  </td>
</tr>
