<% if wagons.any? %>

  <table class="table table-striped table-hover table-center-cell">
    <thead>
      <tr>
        <th><%= t(".ordinal")     %></th>
        <th><%= t(".type")        %></th>
        <th><%= t(".bottom")      %></th>
        <th><%= t(".upper")       %></th>
        <th><%= t(".side_bottom") %></th>
        <th><%= t(".side_upper")  %></th>
        <th><%= t(".seat")        %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "wagon", collection: wagons %>
    </tbody>
  </table>

<% else %>

  <p class="no-items"><%= t(".no_wagons") %></p>

<% end %>
