<div class="col">
  <h1><%= t(".index_header") %></h1>

  <% if @trains.any? %>

    <table class="table table-striped table-hover table-center-cell">
      <thead>
        <tr>
          <th><%= t(".number") %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%= render @trains %>
      </tbody>
    </table>

  <% else %>

    <p class="no-items"><%= t(".no_trains") %></p>

  <% end %>

  <%= link_to t(".new_train"), new_admin_train_path, class: "btn btn-primary" %>
</div>
