<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Route:</strong>

  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    Not assigned
  <% end %>
</p>

<p>
  <strong>Wagons:</strong>
</p>
<%= render "wagons", wagons: @train.sorted_wagons %>

<p>
  <%= link_to "Add wagon", new_admin_train_wagon_path(@train) %>
</p>

<%= link_to 'Edit', edit_admin_train_path(@train) %> |
<%= link_to 'Back', admin_trains_path %>
