<p>
  <strong><%= t(".number") %>:</strong>
  <%= @train.number %>
</p>

<p>
  <strong><%= t(".route") %>:</strong>

  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    <%= t(".no_route") %>
  <% end %>
</p>

<p>
  <strong><%= t(".wagons") %>:</strong>
</p>
<%= render "wagons", wagons: @train.sorted_wagons %>

<p>
  <%= link_to t(".new_wagon"), new_admin_train_wagon_path(@train) %>
</p>

<%= link_to t("edit"), edit_admin_train_path(@train) %> |
<%= link_to t("back"), admin_trains_path %>
