<%= fields_for wagon do |f| %>
  <div class="field">
    <%= f.label  :type %>
    <%= f.select :type, prompt: t(".select_type") do %>

      <% Wagon::TYPES.each do |type| %>
        <%= content_tag(:option, t(".#{type}"), value: type) %>
      <% end %>

    <% end %>
  </div>

  <% if wagon.persisted? %>
    <div class="field">
      <%= f.label :ordinal %>
      <%= f.number_field :ordinal %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bottom_places %>
    <%= f.number_field :bottom_places %>
  </div>

  <div class="field">
    <%= f.label :upper_places %>
    <%= f.number_field :upper_places %>
  </div>

  <div class="field">
    <%= f.label :side_bottom_places %>
    <%= f.number_field :side_bottom_places %>
  </div>

  <div class="field">
    <%= f.label :side_upper_places %>
    <%= f.number_field :side_upper_places %>
  </div>

  <div class="field">
    <%= f.label :seat_places %>
    <%= f.number_field :seat_places %>
  </div>

  <div class="actions">
    <%= f.submit wagon.new_record? ? t(".create") : t(".update") %>
  </div>
<% end %>
