<%= fields_for wagon do |f| %>
  <div class="form-group">
    <%= f.label  :type %>
    <%= f.select :type, nil, { prompt: t(".select_type") },
                             { class: "custom-select form-control" } do %>

      <% Wagon::TYPES.each do |key, klass| %>
        <%= content_tag(:option, t(".#{key}"), value: klass) %>
      <% end %>

    <% end %>
  </div>

  <% if wagon.persisted? %>
    <div class="form-group">
      <%= f.label :ordinal %>
      <%= f.number_field :ordinal, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group places" data-types="<%= with_bottom_places %>">
    <%= f.label :bottom_places %>
    <%= f.number_field :bottom_places, class: "form-control" %>
  </div>

  <div class="form-group places" data-types="<%= with_upper_places %>">
    <%= f.label :upper_places %>
    <%= f.number_field :upper_places, class: "form-control" %>
  </div>

  <div class="form-group places" data-types="<%= economy_places %>">
    <%= f.label :side_bottom_places %>
    <%= f.number_field :side_bottom_places, class: "form-control" %>
  </div>

  <div class="form-group places" data-types="<%= economy_places %>">
    <%= f.label :side_upper_places %>
    <%= f.number_field :side_upper_places, class: "form-control" %>
  </div>

  <div class="form-group places" data-types="<%= seat_places %>">
    <%= f.label :seat_places %>
    <%= f.number_field :seat_places, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit wagon.new_record? ? t(".create") : t(".update"),
                 class: "btn btn-primary" %>
  </div>
<% end %>
