<tr>
  <td><%= wagon.train.number %></td>
  <td><%= wagon.ordinal %></td>
  <td><%= wagon.display_name %></td>
  <td><%= wagon.bottom_places %></td>
  <td><%= wagon.upper_places %></td>
  <td><%= wagon.side_bottom_places %></td>
  <td><%= wagon.side_upper_places %></td>
  <td><%= wagon.seat_places %></td>
  <td><%= link_to 'Show',    admin_wagon_path(wagon) %></td>
  <td><%= link_to 'Edit',    edit_admin_wagon_path(wagon) %></td>
  <td><%= link_to 'Destroy', admin_wagon_path(wagon), method: :delete,
                                                      data: { confirm: 'Are you sure?' } %></td>
</tr>
