<h1>Editing Wagon</h1>

<%= form_for @wagon, url: admin_wagon_path(@wagon) do |form| %>
  <%= render "common/errors", resource: @wagon %>
  <%= render "fields", wagon: @wagon %>
<% end %>

<%= link_to 'Show', admin_wagon_path(@wagon) %> |
<%= link_to 'Back', admin_train_path(@wagon.train) %>
