<div class="col-5">
  <h1><%= t(".new_header") %></h1>

  <%= form_for @wagon, url: admin_train_wagons_path(@train) do |form| %>
    <%= render "common/errors", resource: @wagon %>
    <%= render "fields", wagon: @wagon %>
  <% end %>

  <%= link_to t("back"), admin_train_path(@train) %>
</div>
