<p>
  <strong>Wagon №<%= @wagon.ordinal %></strong>
</p>

<p>
  <strong>Train:</strong>
  <%= @wagon.train.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @wagon.display_name %>
</p>

<%= render "admin/wagons/types/#{@wagon.type.underscore}", wagon: @wagon %>

<%= link_to 'Edit', edit_admin_wagon_path(@wagon) %> |
<%= link_to 'Back', admin_train_path(@wagon.train) %>
