<p>
  <strong><%= t(".show_header", ordinal: @wagon.ordinal )%></strong>
</p>

<p>
  <strong><%= t(".train") %>:</strong>
  <%= @wagon.train.number %>
</p>

<p>
  <strong><%= t(".type") %>:</strong>
  <%= t(".#{@wagon.display_name}") %>
</p>

<%= render "admin/wagons/types/#{@wagon.type.underscore}", wagon: @wagon %>

<%= link_to t("edit"), edit_admin_wagon_path(@wagon) %> |
<%= link_to t("back"), admin_train_path(@wagon.train) %>
