<!DOCTYPE html>
<html>
  <head>
    <title>Tutu - admin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', params[:controller],
                               'data-turbolinks-track': 'reload' %>

    <script>
      window.I18n = <%= I18n.t(".").to_json.html_safe %>
    </script>
  </head>

  <body>
    <%= render "common/header" %>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2 menu-panel">
            <%= render "common/control_panel" %>
          </div>
          <div class="col-10 control-panel">
            <div class="row justify-content-center">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
