<!DOCTYPE html>
<html>
  <head>
    <title>Tutu - admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "common/header" %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-2 control-panel">
          <%= render "common/control_panel" %>
        </div>
        <div class="col-9">
          <div class="row justify-content-center">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

     <%= render "common/footer" %>

  </body>
</html>
