<!DOCTYPE html>
<html>
  <head>
    <title>Tutu - admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice" class="notice"><%= notice %></p>
    <p id="alert"  class="alert"> <%= alert %> </p>

    <%= link_to "Control panel", admin_path %>
    <%= render "common/sign_in_links" %>

    <%= yield %>

    <%= render "common/footer" %>
  </body>
</html>
